@import './libs/0fonts';
@import './libs/1normalize';
@import './libs/2popup';
@import './libs/3swiper';
@import './libs/4rmpopuplib';

*[data-hidden] {
    display: none !important;
}

$maxWidthContainer: 1200 + 30;

html {
    font-size: clamp(5px, 3.39px + 0.502vw, 10px);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

img {
    vertical-align: top;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #000;
    background-color: #fff;

    @media(max-width: 320px) {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }
}

.main {
    flex-grow: 1;
}

.container {
    max-width: #{$maxWidthContainer}px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 2.4rem 0;
    box-shadow: 0px 4px 20px 0px #00000017;

    // .header__wrapper

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
    }

    // .header__logo

    &__logo {
        flex: 0 0 15.2rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    // .header__vin

    &__vin {
        font-weight: 600;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        @media(max-width: 580px) {
            text-align: center;
            flex: 0 0 100%;
            justify-content: center;
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        align-items: center;
        gap: 3.2rem;

        @media(max-width: 768px) {
            margin: 0 0 0 auto;
        }
    }
}

.lang {
    position: relative;

    &__btn {
        text-decoration: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    // .lang__icon

    &__icon {
        flex: 0 0 24px;
        width: 24px;
        height: 18px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    // .lang__title

    &__title {
        color: #3265B1;
        font-weight: 400;
        font-size: 2rem;

    }

    &__dropdown {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 100%;
        padding: 10px 0 0 0;
        min-width: 125px;
        width: 100%;
        z-index: 10;
        display: none;

        .lang.--active & {
            display: block;
        }

        .lang:hover & {
            display: block;
        }

        @media(max-width: 1400px) {
            transform: translate(0);
            left: auto;
            right: 0;
        }
    }

    &__items {
        padding: 13px 24px;
        background-color: #fff;
        border: 1px solid #B7B7B7;
    }

    &__item {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        margin: 0 0 32px 0;
        transition: .3s color;

        &:hover {
            color: #3265B1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.share {
    position: relative;



    &__btn {
        text-decoration: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    // .share__icon

    &__icon {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    // .share__title

    &__title {
        color: #3265B1;
        font-weight: 400;
        font-size: 2rem;

    }

    &__dropdown {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 100%;
        padding: 10px 0 0 0;
        min-width: 267px;
        width: 100%;
        z-index: 10;
        display: none;

        .share.--active & {
            display: block;
        }

        .share:hover & {
            display: block;
        }

        @media(max-width: 1400px) {
            transform: translate(0);
            left: auto;
            right: 0;
        }
    }

    &__items {
        padding: 13px 24px;
        background-color: #fff;
        border: 1px solid #B7B7B7;
    }

    &__link {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        margin: 0 0 32px 0;
        transition: .3s color;

        &:hover {
            color: #3265B1;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.main {
    padding: 34px 0 160px 0;
}

.hero {
    display: flex;
    gap: 8rem;

    @media(max-width: 768px) {
        flex-direction: column;
        gap: 3rem;
    }

    // .hero__car

    &__car {
        display: flex;
        align-items: center;
        flex-direction: column;

        &_poster {
            width: 220px;
            height: 128px;
            object-fit: cover;
            margin: 0 0 11px 0;
        }


        // .hero__car_link

        &_link {
            font-weight: 500;
            font-size: 20px;
            color: #000;
            text-align: center;
            text-decoration: none;
        }
    }

    // .hero__type

    &__type {
        padding: 2.8rem 0 0 0;
        max-width: 56rem;
        width: 100%;

        @media(max-width: 1024px) {
            max-width: 100%;
        }

        // .hero__type_title

        &_title {
            color: #424242;
            text-align: center;
            margin: 0 0 24px 0;
        }

        // .hero__type_types

        &_types {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 28px;

            @media(max-width: 768px) {
                margin-bottom: 30px;
            }

            @media(max-width: 580px) {
                flex-wrap: wrap;
            }
        }
    }



}

.radiobox {
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;

    input {
        appearance: none;
        position: relative;
        width: 18px;
        height: 18px;
        flex: 0 0 18px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1.5px solid #067CF9;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: #067CF9;
            opacity: 0;
            border-radius: 50%;
            transition: opacity .3s;
        }

        &:checked:after {
            opacity: 1;
        }

        &:checked~span {
            color: #3265B1;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #EAEAF3;
    background-color: #fff;
    padding: 24px 0px;
    z-index: 10;
    // .footer__wrapper

    &__wrapper {
        display: flex;
        gap: 10px;

        @media(max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    // .footer__col

    &__col {
        flex: 1 1 33%;
        display: flex;
        align-items: center;
        gap: 24px;

        @media(max-width: 980px) {
            flex: 1 1 auto;
        }

        @media(max-width: 580px) {
            flex-wrap: wrap;
        }

        .details {
            color: #3265B1;
            font-size: 20px;
            font-weight: 500;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .total {
            font-size: 24px;
            font-weight: 500;
            color: #2D2D2D;
            text-wrap: nowrap;


            span {
                margin-left: 12px;
                color: #2A5BA1;
            }
        }
    }

    // .footer__btn

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        border: none;
        background-color: #8DA8CE;
        color: #fff;
        font-size: 16px;
        max-width: 300px;
        width: 100%;
        cursor: pointer;
        outline: none;
        text-decoration: none;

        @media(max-width: 580px) {
            max-width: 100%;
        }
    }
}



.skeletons {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    transition: .5s;

    @media(max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 580px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &.disabled {
        opacity: 0.15;
    }

    &.--remove {
        display: none;
    }
}

.skeleton {
    height: 131px;
    border: 0.88px solid #EAEAF3;
    background-color: #4646464D;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg);
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 1.5s infinite linear;
    }
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

.types {
    border-bottom: 1px solid #BABABA;
    padding: 0 0 32px 0;
    margin: 0 0 32px 0;
    transition: .5s;

    &.disabled {
        opacity: .15;
        pointer-events: none;
    }

    &__items {
        display: flex;
        gap: 36px;
        justify-content: center;
        margin: 0 0 32px 0;
    }

    &__allparts {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }
}

.cartype {
    height: 130px;
    width: 233px;
    border-radius: 4px;
    border: 1px solid #C2C2C2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    cursor: pointer;

    &.--active {
        border-color: #3265B1;
        color: #3265B1;
    }

    input {
        appearance: none;

        &::before {
            content: '';
            position: absolute;
            right: 8px;
            top: 9px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1.5px solid #C2C2C2;
        }

        &:after {
            content: '';
            position: absolute;
            right: 8px;
            top: 9px;
            transform: translate(-4px, 4px);
            width: 10px;
            height: 10px;
            background-color: #3265B1;
            opacity: 0;
            border-radius: 50%;
            transition: opacity .3s;
        }

        &:checked:before {
            border-color: #3265B1;
        }

        &:checked:after {
            opacity: 1;
        }

        &:checked~span {
            color: #3265B1;
        }
    }

    span {
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }

    @media(max-width: 768px) {
        svg {
            object-fit: contain;
            width: 80%;
            height: 80%;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    input {
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        flex: 0 0 20px;


        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #898989;
            border-radius: 2px;
        }

        &:after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.14453L4.125 8.14453L1 4.96271' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10px 7px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #3265B1;
            opacity: 0;
            transition: .3s opacity;
            border-radius: 2px;
        }

        &:checked {
            &:before {
                border-color: #3265B1;
            }

            &:after {
                opacity: 1;
            }

            &~span {
                color: #3265B1;
            }
        }
    }
}

.tooltip {
    position: relative;
    // .tooltip__icon

    &__icon {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMjUnIHZpZXdCb3g9JzAgMCAyNCAyNScgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48Y2lyY2xlIGN4PScxMicgY3k9JzEyLjE0NDUnIHI9JzknIHN0cm9rZT0nIzMyNjVCMScgc3Ryb2tlLXdpZHRoPScyJy8+PHBhdGggZD0nTTEyLjUgNy42NDQ1M0MxMi41IDcuOTIwNjcgMTIuMjc2MSA4LjE0NDUzIDEyIDguMTQ0NTNDMTEuNzIzOSA4LjE0NDUzIDExLjUgNy45MjA2NyAxMS41IDcuNjQ0NTNDMTEuNSA3LjM2ODM5IDExLjcyMzkgNy4xNDQ1MyAxMiA3LjE0NDUzQzEyLjI3NjEgNy4xNDQ1MyAxMi41IDcuMzY4MzkgMTIuNSA3LjY0NDUzWicgZmlsbD0nIzMyNjVCMScgc3Ryb2tlPScjMzI2NUIxJy8+PHBhdGggZD0nTTEyIDE3LjE0NDVWMTAuMTQ0NScgc3Ryb2tlPScjMzI2NUIxJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4K");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    // .tooltip__text

    &__text {
        border: 1px solid #3265B1;
        padding: 8px;
        background-color: #fff;
        color: #3A3A3A;
        visibility: hidden;
        min-width: 484px;
        box-shadow: 0px 0px 6.66px 0px #0000001C;
        position: absolute;
        bottom: 150%;
        left: 50%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transform: translate(-50%, 10px);
        font-size: 20px;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }

        @media(max-width: 820px) {
            min-width: auto;
            left: auto;
            right: 0;
            transform: translate(0, 10px);
        }

        .tooltip:hover & {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 0);

            @media(max-width: 820px) {
                transform: translate(0, 0);
            }
        }
    }
}

.standard-calculator {


    &__cats {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 8px;
        margin: 0 0 32px 0;

        @media(max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width: 580px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__services {
        background: #3265B103;
        border: 1px solid #3265B199;
        padding: 24px;
        min-height: 198px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        ._empty {
            display: none;
            font-size: 36px;
            color: #3265B1A6;
            text-align: center;
        }

        &.isEmpty {
            display: flex;
            justify-content: center;
            align-items: center;

            ._empty {
                display: block;
            }

        }



    }
}

.standard-calculator__service {
    display: flex;
    align-items: center;
    gap: 32px;



    .partsCheckbox {
        flex: 0 0 192px;
        height: 132px;

        @media(max-width: 768px) {
            display: none;
        }
    }

    &_body {}

    &_name {
        font-weight: 700;
        font-size: 28px;
        margin: 0 0 8px 0;
    }

    &_text {
        font-size: 24px;

        strong {
            font-weight: 600;
        }
    }
}

.partsCheckbox {
    cursor: pointer;
    background-color: #FDFDFD;
    border: 0.88px solid #EAEAF3;
    height: 150px;
    padding: 16px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &.--checked {
        border: 0.88px solid #3265B1;
    }

    input {
        appearance: none;
        width: 1px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
    }

    // .partsCheckbox__title

    &__title {
        font-size: 16px;
        text-align: center;

    }

    // .partsCheckbox__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;

            .partsCheckbox.--checked & {
                // max-height: 73px;
            }
        }
    }

    // .partsCheckbox__status

    &__status {
        color: #3265B1;
        font-size: 16px;
        padding-left: 32px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 25px 25px;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 12.1445L12.5 17.1445L22.5 7.14453' stroke='%233265B1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.5 12.1445L7.5 17.1445M12.5 12.1445L17.5 7.14453' stroke='%233265B1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: none;

        .partsCheckbox.--checked & {
            display: block;
        }
    }
}

.standard-calculator {

    // .standard-calculator__extras

    &__extras {
        padding: 20px 0px 64px 0px;
        // .standard-calculator__extras_title

        &_title {
            margin: 0 0 32px 0;
            font-size: 28px;
            font-weight: 500;
        }

        // .standard-calculator__extras_list

        &_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem 10.2rem;
            margin: 0;
            padding: 0;
            list-style: none;

            @media(max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 580px) {
                grid-template-columns: 1fr;
            }

            li {
                display: flex;
                justify-content: space-between;
                gap: 6px;
                align-items: center;
                padding: 8px;

                &.--active {
                    background-color: #3265B1;
                    color: #fff;

                    .tooltip__icon {
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMjUnIHZpZXdCb3g9JzAgMCAyNCAyNScgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48Y2lyY2xlIGN4PScxMicgY3k9JzEyLjA3ODEnIHI9JzknIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS13aWR0aD0nMicvPjxwYXRoIGQ9J00xMi41IDcuNTc4MTJDMTIuNSA3Ljg1NDI3IDEyLjI3NjEgOC4wNzgxMiAxMiA4LjA3ODEyQzExLjcyMzkgOC4wNzgxMiAxMS41IDcuODU0MjcgMTEuNSA3LjU3ODEyQzExLjUgNy4zMDE5OCAxMS43MjM5IDcuMDc4MTIgMTIgNy4wNzgxMkMxMi4yNzYxIDcuMDc4MTIgMTIuNSA3LjMwMTk4IDEyLjUgNy41NzgxMlonIGZpbGw9J3doaXRlJyBzdHJva2U9J3doaXRlJy8+PHBhdGggZD0nTTEyIDE3LjA3ODFWMTAuMDc4MScgc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLXdpZHRoPScyJy8+PC9zdmc+");
                    }
                }
            }
        }
    }
}

.extrasCheckbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        flex: 0 0 20px;

        &::before {
            content: '';
            position: absolute;
            // width: 20px;
            // height: 20px;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 1px solid #898989;
            border-radius: 2px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nMTAnIHZpZXdCb3g9JzAgMCAxMiAxMCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMTEgMS4wNzgxMkw0LjEyNSA4LjA3ODEyTDEgNC44OTYzMScgc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnLz48L3N2Zz4=");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 10px;
            height: 7px;
            opacity: 0;
            transition: .3s opacity;
        }

        &:checked {
            &:before {
                border: 2px solid #FFFFFF;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    span {
        line-height: 1;
    }

    &__price {
        font-weight: 700;
        font-size: 20px;
        color: #3265B1;

        .--active & {
            color: #fff;
        }
    }
}

.advanced-calculator__services {
    background: #3265B103;
    border: 1px solid #3265B199;
    padding: 24px;
    min-height: 386px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    ._empty {
        display: none;
        font-size: 36px;
        color: #3265B1A6;
        text-align: center;
    }

    &.isEmpty {
        display: flex;
        justify-content: center;
        align-items: center;

        ._empty {
            display: block;
        }

    }

    .highlighted {
        fill: #3265B1 !important;
        // stroke: #3265B1 !important;

        * {
            fill: #3265B1 !important;
            // stroke: #3265B1 !important;
        }
    }
}

#selected_views {
    display: flex;
    justify-content: center;
    align-items: center;
}

#car-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        max-width: 100%;
    }
}

#car-view-name {
    align-self: flex-start;
    color: #3265B1;
    font-weight: 500;
    font-size: 2.8rem;
}

#advanced-calculator-cats .partsCheckbox.--checked {
    display: none;
}

.orderDetails {
    padding: 13px 24px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 20px 0px #0000001C;
    border-width: 1px, 1px, 0px, 1px;
    border-style: solid;
    border-color: #B7B7B7;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 64px;
    color: #000;

    font-weight: 500;
    font-size: 20px;
    max-width: 549px;
    width: 100%;

    transition: .3s linear;
    transform: translateY(100%);



    &.--active {
        transform: translateY(0);
    }

    &__scrolled {
        max-height: 400px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            background-color: silver;

        }

        &::-webkit-scrollbar-thumb {
            background: #3265b1; 

        }

        &::-webkit-scrollbar-track {
            background-color: #a2bce2;
            border-radius: 4px;
        }
    }



    // .orderDetails__wrapper

    &__wrapper {}

    // .orderDetails__title

    &__title {
        margin: 0 0 32px 0;
        text-align: center;
        font-size: 24px;
    }

    // .orderDetails__icon

    &__icon {
        margin: 0 0 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .orderDetails__name

    &__name {
        text-align: center;
        font-size: 24px;
        margin: 0 0 32px 0;
        text-transform: capitalize;
    }

    // .orderDetails__table

    &__table {
        border-collapse: collapse;
        width: 100%;

        tr {
            td {
                padding: 12px 0px;

                &:nth-child(2) {
                    color: #3265B1;
                }

                &:nth-child(3) {
                    width: 24px;
                }
            }
        }
    }
}

.order-close {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    outline: none;
    border: none;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 12px;
        height: 1px;
        background-color: #9A1919;

        cursor: pointer;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}